@mixin listunstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin link-settings {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
}
@mixin title-settings  ($bottom: 30px){
    margin: 0;
    padding: 0;
    margin-bottom: $bottom;
}